**/node_modules/
**/dist/
**/.env

# 현재 폴더 구조를 고려한 직접 지정
node_modules/
week3/node_modules/
week3/0401/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS 및 에디터 설정 파일
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

# 빌드 결과물 및 캐시
.cache/
.parcel-cache/
.eslintcache
.stylelintcache